*.ba*
*.clib
*.mldylib
*.mllib
*.mlpack
*.odocl
/*.1
/*.bak
/*.byte
/*.docdir
*.native
/Makefile
_build/
/_tags
/configure
/doc
/myocamlbuild.ml
/postinstall.ml
/python/*.pyc
/python/bap.egg-info
/setup.data
/setup.log
/setup.ml
META
/META
/frames.ml
/myocamlbuild.ml
/setup.ml
/setup.ml
