/.aclocal.out
/.autoconf.out
/.autoheader.out
/.automake.out
Makefile
Makefile.in
aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
*~
/depcomp
install-sh
missing
.deps/
stamp-h?
*.o
*.a
src/config.h
src/config.h.in
src/frame.piqi.*
src/readtrace
src/copytrace
